
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100&display=swap');


body{
    margin:auto;
    background-color: #272525;
    box-sizing: border-box;
    text-decoration: none;
}

main{
    width: 85%;
    margin:auto;
}
.logo{
    background-image: url(../img/fumaça.jpg);
    height: 400px;
    background-position: right center;
    background-size:cover;
    

}
.cabecalho nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 23px;
    letter-spacing: 2px;
    font-family:'Anton', sans-serif;
  
}
.cabecalho nav ul li {
    border: 1px solid rgb(61, 55, 55);
    list-style: none;
    padding: 10px;
}
.cabecalho a{
    text-decoration: none;
    color:#dcd9d9
}
.cabecalho li:hover {
    background-color: #2f3c4b;
}

h1{
    text-align: center;
    font-size: 45px;
    font-family: 'Anton', sans-serif;
    color:#dcd9d9;
}

.conteudo{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color:#dcd9d9;
}
.conteudo1{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
}

.conteudo2{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.foto{
    padding: 40px;
  
}
.conteudo1 img{
    width: 530px;
    height: 330px;
}

.conteudo2 img{
    width: 600px;
    height: 400px;
}
.plataformas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer{
    background-color: #1a1818;
    color: #dcd9d9;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top:30px;
    padding: 20px;
    text-align: center;
}